fakestore-carts-papi/target/classes/implementation/fakestore-carts-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-all-carts-flow" doc:id="956f7501-7aa1-4ec7-a34d-3a0c3a40eda6" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="b082a07f-8448-4584-9a38-7d8173cda88f" message='#["Start calling HTTP GET /carts request"]'/>
		<try doc:name="Try" doc:id="3bdac217-3e37-4a44-8bce-e56d52b64065">
				<http:request method="GET" doc:name="GET /carts" doc:id="1adbd4b9-2523-4001-b6f8-ef719932ac09" config-ref="Fakestore_HTTP_Request_configuration" path="${fakestore.api.cart.path}" sendCorrelationId="ALWAYS" correlationId="#[vars.transactionId]">
					<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::fakestore.api.client_secret'),
	"client_id" : p('secure::fakestore.api.client_id')
}]]]></http:headers>
				</http:request>
				<error-handler ref="fakestore-error-handler" />
			</try>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="7b17e0e1-3661-455d-8216-5ba161bb6cf6" message='#["End calling HTTP GET /carts request"]'/>
	</flow>
	<flow name="get-cart-by-id-flow" doc:id="ec1f32e3-b4b0-43c3-8726-431e124c5c9f" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="734150ef-e47f-4db8-b358-ef7b9277314f" message='#["Start calling HTTP GET /carts/{id} request"]'/>
		<try doc:name="Try" doc:id="1f088f4e-3d4c-42cb-a371-c45bc1a7ecf9">
				<http:request method="GET" doc:name="GET /carts/{id}" doc:id="35cfda98-8487-4f79-bcb1-74e3b8fb4f08" config-ref="Fakestore_HTTP_Request_configuration" path="${fakestore.api.cart.path}/{id}" sendCorrelationId="ALWAYS" correlationId="#[vars.transactionId]">
					<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::fakestore.api.client_secret'),
	"client_id" : p('secure::fakestore.api.client_id')
}]]]></http:headers>
					<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : vars.cartId
}]]]></http:uri-params>
				</http:request>
				<error-handler ref="fakestore-error-handler" />
			</try>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="670b123b-32cf-4229-ad8f-87298328c2be" message='#["End calling HTTP GET /carts/{id} request"]'/>
	</flow>
	<flow name="add-new-cart-flow" doc:id="53308396-b294-419c-a2e6-2834e938ffe6" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="e54b8e1d-ef72-4be0-a6d9-8b51e8d97722" message='#["Start calling HTTP POST /carts request"]'/>
		<try doc:name="Try" doc:id="df2da130-807d-45ca-8430-10f0273aa44c">
				<http:request method="POST" doc:name="POST /carts" doc:id="26565cdd-01d1-416b-afd1-815f050d2e27" config-ref="Fakestore_HTTP_Request_configuration" path="${fakestore.api.cart.path}" sendCorrelationId="ALWAYS" correlationId="#[vars.transactionId]">
					<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::fakestore.api.client_secret'),
	"client_id" : p('secure::fakestore.api.client_id')
}]]]></http:headers>
				</http:request>
				<error-handler ref="fakestore-error-handler" />
			</try>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="a252cf3c-73e9-4662-83cd-fa732b9dc7b1" message='#["End calling HTTP POST /carts request"]'/>
	</flow>
	<flow name="update-cart-by-id-flow" doc:id="1099bf7b-62fb-4bf8-800e-b7e07fb735d3" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="760d04c6-a917-4358-858f-b3763f7b83ca" message='#["Start calling HTTP PUT /carts request"]'/>
		<try doc:name="Try" doc:id="0ae8bab6-e904-42c3-af11-875620dd602e">
				<http:request method="PUT" doc:name="PUT /carts" doc:id="fd8acf9b-d621-4f0a-a0a9-32ba5b7252f7" config-ref="Fakestore_HTTP_Request_configuration" path="${fakestore.api.cart.path}/{id}" sendCorrelationId="ALWAYS" correlationId="#[vars.transactionId]">
					<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::fakestore.api.client_secret'),
	"client_id" : p('secure::fakestore.api.client_id')
}]]]></http:headers>
					<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : vars.cartId
}]]]></http:uri-params>
				</http:request>
				<error-handler ref="fakestore-error-handler" />
			</try>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="7af8e281-4c27-4090-9b2c-b0bd5a616086" message='#["End calling HTTP PUT /carts request"]'/>
	</flow>
	<flow name="delete-cart-by-id-flow" doc:id="7da93350-3e7f-4028-849a-38b9f7189fb0" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="31e6519c-7e5f-4a27-9a67-d505c066a4e7" message='#["Start calling HTTP DELETE /carts request"]'/>
		<try doc:name="Try" doc:id="00b87097-f401-435c-a7a4-471137d0ff7f">
				<http:request method="DELETE" doc:name="DELETE /carts" doc:id="705f1575-bb40-402d-af05-852830d5ef76" config-ref="Fakestore_HTTP_Request_configuration" path="${fakestore.api.cart.path}/{id}" sendCorrelationId="ALWAYS" correlationId="#[vars.transactionId]">
					<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::fakestore.api.client_secret'),
	"client_id" : p('secure::fakestore.api.client_id')
}]]]></http:headers>
					<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : vars.cartId
}]]]></http:uri-params>
				</http:request>
				<error-handler ref="fakestore-error-handler" />
			</try>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="445e4170-9e8a-4769-bc67-9003deffff44" message='#["End calling HTTP DELETE /carts request"]'/>
	</flow>
</mule>
