fakestore-carts-papi/target/classes/fakestore-carts-prc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="fakestore-carts-prc-api-main">
        <http:listener config-ref="fakestore-carts-prc-api-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fakestore-carts-prc-api-config" />
        <error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="fakestore-carts-prc-api-console">
        <http:listener config-ref="fakestore-carts-prc-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fakestore-carts-prc-api-config" />
        <error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="put:\carts\(id):application\json:fakestore-carts-prc-api-config">
        <ee:transform doc:name="Set Transaction Id &amp; Cart Id">
            <ee:variables>
                <ee:set-variable variableName="cartId"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-correlation-id' default correlationId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="update-cart-by-id-flow" doc:id="44ea921d-8e8a-4503-b2df-cd5f0517b8f2" name="update-cart-by-id-flow" />
    </flow>
    <flow name="delete:\carts\(id):application\json:fakestore-carts-prc-api-config">
        <ee:transform doc:name="Set Transaction Id &amp; Cart Id">
            <ee:variables>
                <ee:set-variable variableName="cartId"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-correlation-id' default correlationId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="delete-cart-by-id-flow" doc:id="2de880db-2516-4804-9e57-fdb8df895494" name="delete-cart-by-id-flow" />
    </flow>
    <flow name="get:\carts:fakestore-carts-prc-api-config">
        <ee:transform doc:name="Set Transaction Id" doc:id="bc7b2335-5b31-4077-b141-4c9244f5c419">
            <ee:message />
            <ee:variables>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-correlation-id' default correlationId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-all-carts-flow" doc:id="96cf6290-bbfc-45f1-8283-54ab450ad961" name="get-all-carts-flow" />
    </flow>
    <flow name="get:\health:fakestore-carts-prc-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Set Payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  title: "health-chech-response",
  examples: {
    "health-chech-response": {
      header: {
        apiName: "Client Experience API",
        apiVersion: "1.0.0",
        correlationId: "0AD645D1-C06E-40AF-80D5-A0316CD190CC"
      },
      data: {
        apiStatus: "Alive",
        downStreamType: "Resource API",
        downStreamStatus: "Alive"
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\carts\(id):fakestore-carts-prc-api-config">
        <ee:transform doc:name="Set Transaction Id &amp; Cart Id">
            <ee:variables>
                <ee:set-variable variableName="cartId"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-correlation-id' default correlationId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-all-carts-flow" doc:id="7d2e1abe-0c43-470a-afe7-df26599b5197" name="get-cart-by-id-flow" />
    </flow>
    <flow name="post:\carts:application\json:fakestore-carts-prc-api-config">
        <ee:transform doc:name="Set Transaction Id" doc:id="35bbe003-f425-4276-967d-118b0ddbad37">
            <ee:message />
            <ee:variables>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-correlation-id' default correlationId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="add-new-cart-flow" doc:id="4f8238a8-604c-4ec5-b3ec-9300c36056e6" name="add-new-cart-flow" />
    </flow>
    <flow name="post:\checkout:application\json:fakestore-carts-prc-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Set Transaction Id">
            <ee:message />
            <ee:variables>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-correlation-id' default correlationId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="checkout-carts-flow" doc:id="899e1503-2b4e-49e5-8609-3ad747eb1aa9" name="checkout-carts-flow" />
    </flow>
    <flow name="delete:\carts\(id):fakestore-carts-prc-api-config">
        <ee:transform doc:name="Set Transaction Id &amp; Cart Id" doc:id="5c4f5881-ec7f-45f2-b876-cb0ff4cf710a">
            <ee:variables>
                <ee:set-variable variableName="cartId"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-correlation-id' default correlationId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="delete-cart-by-id-flow" doc:id="09a89c7a-42c2-4712-a81d-0a0ac3f6a7e3" name="delete-cart-by-id-flow" />
    </flow>
</mule>
