fakestore-user-eapi/target/classes/fakestore-user-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="fakestore-user-exp-api-main">
        <http:listener config-ref="fakestore-user-exp-api-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fakestore-user-exp-api-config" />
        <error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="fakestore-user-exp-api-console">
        <http:listener config-ref="fakestore-user-exp-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fakestore-user-exp-api-config" />
        <error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="put:\products\(id):application\json:fakestore-user-exp-api-config">
        <ee:transform doc:name="Set Transaction Id &amp; Product Id">
            <ee:variables>
                <ee:set-variable variableName="productId"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="transactionId"><![CDATA[uuid()]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="update-product-by-id-flow" doc:id="4a3f4a11-cd1f-48be-b517-a29e5e7d2821" name="update-product-by-id-flow" />
    </flow>
    <flow name="delete:\products\(id):fakestore-user-exp-api-config">
        <ee:transform doc:name="Set Transaction Id &amp; Product Id">
            <ee:variables>
                <ee:set-variable variableName="productId"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="transactionId"><![CDATA[uuid()]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="delete-product-by-id-flow" doc:id="b7983a4e-39b2-482b-9613-f6c77f70c307" name="delete-product-by-id-flow" />
    </flow>
    <flow name="get:\health:fakestore-user-exp-api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Set Payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  header: {
    apiName: "Fakestore User Experience API",
    apiVersion: "1.0.0",
    correlationId: uuid()
  },
  data: {
    apiStatus: "Alive",
    downStreamType: "Resource API",
    downStreamStatus: "Alive"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products:fakestore-user-exp-api-config">
        <ee:transform doc:name="Set Transaction Id, Page Size &amp; Page Number" doc:id="c38f516d-76ef-473a-b1b1-f970d38c4318">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="pageNum"><![CDATA[attributes.queryParams.page default 0 as Number]]></ee:set-variable>
                <ee:set-variable variableName="pageSize"><![CDATA[attributes.queryParams.size default 0 as Number]]></ee:set-variable>
                <ee:set-variable variableName="transactionId"><![CDATA[uuid()]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-all-products-flow" doc:id="21599d2a-b904-4b55-8307-412093df62f3" name="get-all-products-flow" />
    </flow>
    <flow name="get:\products\(id):fakestore-user-exp-api-config">
        <ee:transform doc:name="Set Transaction Id &amp; Product Id">
            <ee:variables>
                <ee:set-variable variableName="productId"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="transactionId"><![CDATA[uuid()]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-product-by-id-flow" doc:id="62164a8d-eb75-4756-b0e4-216273e01e97" name="get-product-by-id-flow" />
    </flow>
    <flow name="post:\products:application\json:fakestore-user-exp-api-config">
        <ee:transform doc:name="Set Transaction Id" doc:id="e18b484e-a009-44e8-a205-3596a2748607">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="transactionId"><![CDATA[uuid()]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="add-new-product-flow" doc:id="4bded5aa-8e27-4da0-a19f-a127093e8d6e" name="add-new-product-flow" />
    </flow>
</mule>
