fakestore-db-sapi/target/classes/implementation/fakestore-db-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="insert-sales-into-database-flow" doc:id="f4af958e-8581-4eaf-82c1-8a7a995cb3ba" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="09e50efc-246f-4604-9272-a2b81e88cb60" message='#["Start transaction inserting data into DB"]'/>
		<until-successful maxRetries="${fakestore.db.until.successful.attempts}" doc:name="Until Successful" doc:id="83842189-482d-43ed-a61e-a4000d413d93" millisBetweenRetries="${fakestore.db.until.successful.interval}">
			<try doc:name="Try" doc:id="d5204c65-312d-4715-a45c-0b18a73a5352" transactionalAction="ALWAYS_BEGIN">
				<!-- <db:insert doc:name="Insert sales" doc:id="b28b56c3-9c37-43ce-8c51-e4acead0ca72" config-ref="Database_Config">
				<db:sql><![CDATA[INSERT INTO sales(
	product_id,
	product_title,
	price,
	purchase_date,
	created_by
) VALUES (
	:ProductId,
	:ProductTitle,
	:Price,
	:PurchaseDate,
	:CreatedBy
)]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	'ProductId' : payload.productId,
	'ProductTitle' : payload.productTitle,
	'Price' : payload.price,
	'PurchaseDate' : payload.purchaseDate,
	'CreatedBy' : payload.createdBy
}]]]></db:input-parameters>
			</db:insert> -->
				<db:bulk-insert doc:name="Insert Sales" doc:id="d15135cf-3268-4998-9df0-046ceecb3c86" config-ref="Database_Config" target="salesResult">
					<db:sql ><![CDATA[INSERT INTO sales(
	id,
	user_id,
	cart_id,
	total_amount,
	purchase_date,
	created_date,
	created_by
) VALUES (
	:id,
	:userId,
	:cartId,
	:totalAmount,
	:purchaseDate,
	:createdDate,
	:createdBy
);]]></db:sql>
				</db:bulk-insert>
				<db:bulk-insert doc:name="Insert Sales Detail" doc:id="5ccb7cf6-d1d1-4b69-9167-589e6a023918" config-ref="Database_Config">
					<db:bulk-input-parameters ><![CDATA[#[%dw 2.0
output application/json
var cartId = payload[0].cartId
---
payload[0].products map(cItem, cIndex) -> {
	"id": uuid(),
	"cartId": cartId,
	(cItem)
}]]]></db:bulk-input-parameters>
					<db:sql ><![CDATA[INSERT INTO sales_detail(
	id,
	cart_id,
	product_id,
	product_title,
	price,
	quantity
) VALUES (
	:id,
	:cartId,
	:productId,
	:title,
	:price,
	:quantity
)]]></db:sql>
				</db:bulk-insert>
				<error-handler ref="db-error-handler" />
		</try>
		</until-successful>
		<ee:transform doc:name="Set Payload Response" doc:id="dcf31580-88f2-4375-a314-68b8339652a6" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.errorMsg default ({
  status: "SUCCESS",
  message: "Transaction was successful"
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="45cb5e9f-461c-4277-afcd-6afb6aa073ae" message='#["End transaction inserting data into DB "]'/>
		<error-handler ref="default-error-handler" />
	</flow>
</mule>
