fakestore-db-sapi/src/main/mule/fakestore-db-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="fakestore-db-sys-api-main">
        <http:listener config-ref="fakestore-db-sys-api-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fakestore-db-sys-api-config" />
        <error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="fakestore-db-sys-api-console">
        <http:listener config-ref="fakestore-db-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fakestore-db-sys-api-config" />
        <error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="get:\health:fakestore-db-sys-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  title: "health-chech-response",
  examples: {
    "health-chech-response": {
      header: {
        apiName: "Client Experience API",
        apiVersion: "1.0.0",
        correlationId: "0AD645D1-C06E-40AF-80D5-A0316CD190CC"
      },
      data: {
        apiStatus: "Alive",
        downStreamType: "Resource API",
        downStreamStatus: "Alive"
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\checkout:application\json:fakestore-db-sys-api-config">
        <flow-ref doc:name="insert-sales-into-database-flow" doc:id="d71d7412-e963-4454-94f1-5873b58dec76" name="insert-sales-into-database-flow" />
    </flow>
</mule>
