fakestore-products-papi/src/main/mule/implementation/fakestore-products-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-all-products-flow" doc:id="c59b6bc2-2ecc-4aae-9a7f-fe4c8a9d8ec8" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="36942172-ecb5-48c7-acf3-b9ca89d32a73" message='#["Start calling GET /products request"]'/>
		<try doc:name="Try" doc:id="9bc1584f-baff-426e-bc5a-80bb565b83de">
				<http:request method="GET" doc:name="GET /products" doc:id="f6ab3b82-0ef9-47bc-abf1-726af8bdb128" config-ref="Fakestore_HTTP_Request_configuration" path="${fakestore.api.path}" sendCorrelationId="ALWAYS" correlationId="#[vars.transactionId]" target="products">
					<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::fakestore.api.client_secret'),
	"client_id" : p('secure::fakestore.api.client_id')
}]]]></http:headers>
				</http:request>
				<error-handler ref="fakestore-error-handler" />
			</try>
		<choice doc:name="Choice" doc:id="94a21cd1-bb3b-449f-97cd-6bba1c50138a" >
			<when expression="#[vars.pageSize != 0 and vars.pageNum != 0]">
				<ee:transform doc:name="Access Top Products" doc:id="e35f2367-7b52-4db8-9137-6bf780e2576a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/json
var offset = ((vars.pageNum)-1) * vars.pageSize
var size = (vars.pageNum * vars.pageSize) - 1
---
vars.errorMsg default(vars.products[offset to size])]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Access All Products" doc:id="67da7298-d9b0-4367-8c53-92afce9ebb73" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/json
---
vars.errorMsg default(vars.products default [])]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<set-variable value="#[200]" doc:name="Set HTTP Status Code" doc:id="190f3f73-ceb3-470d-b0a0-6bf14305df43" variableName="httpStatus"/>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="fe676b35-bd1e-4e25-b36f-4c89a5d221ad" message='#["End calling GET /products request"]'/>
	</flow>
	<flow name="get-product-by-id-flow" doc:id="ceee7f9f-8a0c-40b9-8e2f-dc959f7090e2" >
		<logger level="INFO" doc:name="INFO Start Logger" doc:id="fd7055a2-f1f9-42fd-8dc2-54cffde4514c" message='#["Start calling GET /products/{id} request"]'/>
		<try doc:name="Try" doc:id="5e8b1d7c-814d-4f3a-b34a-6cc552c304b8">
				<http:request method="GET" doc:name="GET /products/{id}" doc:id="a8cea522-9fba-43f4-b28b-f575004d8f05" config-ref="Fakestore_HTTP_Request_configuration" path="${fakestore.api.path}/{id}" sendCorrelationId="ALWAYS" correlationId="#[vars.transactionId]" target="products">
					<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : p('secure::fakestore.api.client_secret'),
	"client_id" : p('secure::fakestore.api.client_id')
}]]]></http:headers>
					<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : vars.productId
}]]]></http:uri-params>
				</http:request>
				<error-handler ref="fakestore-error-handler" />
			</try>
		<ee:transform doc:name="Set Payload" doc:id="a09c17f6-9dba-4dc0-ad9a-9e0e2d9ce874" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.errorMsg default(vars.products)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200]" doc:name="Set HTTP Status Code" doc:id="0300fa7c-27de-4833-828b-9d07d816197a" variableName="httpStatus"/>
		<logger level="INFO" doc:name="INFO End Logger" doc:id="1a966790-5ca8-4c44-80db-c735165eeb08" message='#["Start calling GET /products/{id} request"]'/>
	</flow>
</mule>
